@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}


<div class="page-container">
    <center>
        <div class="page-content-wrapper">

            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div id="notes" class="col-md-2"></div>
                    </div>
                    <div class="portlet box blue" style="width:600px;height:600px;">
                        <div class="row" id="EditRow">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="text-align:left;">
                                        <a href="#">Manage User</a> &gt; Export Users
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="content">

                                                <form class="login-form" id="UsersForm" method="post">
                                                    <div class="col-md-12">

                                                        <div class="row">

                                                            <div class="col-md-12">

                                                                <div class="form-group">
                                                                    <label class="control-label visible-ie8 visible-ie9 col-md-2">Organization </label>
                                                                    <a href="#" data-toggle="tooltip" title="Select Organization" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                    <div class="input-icon">
                                                                        <select class="form-control" id="ddlOrganization" name="Organization"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label visible-ie8 visible-ie9 col-md-2">Facility </label>
                                                                    <a href="#" data-toggle="tooltip" title="Select Facility" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                    <div class="input-icon">
                                                                        <select class="form-control" id="ddlFacility" name="Facility"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label visible-ie8 visible-ie9 col-md-2">Status </label>
                                                                    <a href="#" data-toggle="tooltip" title="Select Status" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                    <div class="input-icon">
                                                                        <select class="form-control" id="ddlStatus" name="Status">
                                                                            <option value="0">All</option>
                                                                            <option value="1">Active</option>
                                                                            <option value="2">InActive</option>

                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="control-label visible-ie8 visible-ie9 col-md-2">FileType</label>
                                                                    <a href="#" data-toggle="tooltip" title="Select File Type" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                    <div class="input-icon">
                                                                        <select class="form-control" id="ddlFileType" name="FileType">
                                                                            <option value="0">Excel</option>
                                                                            <option value="1">Pdf</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <div class="anchor" style="padding-left:20px" id="anchor_Holder">
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12 input-icon text-right">
                                                                <button type="button" id="btnExport" class="btn btn-primary">Export</button>
                                                                <button type="button" id="btnCancel" class="btn btn-default" style="margin-right: 5px;">Cancel</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>
@section Bottom{
    <script type="text/javascript">


        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip();
            notes = $('#notes').notify({
                type: 'notes',
                sticky: true,
                delay: 3000,
                removeIcon: '<i class="fa fa-remove"></i>'
            });

            $("#ddlfacility").change(function () {
                HideAnchortag();
            });
            $("#ddlStatus").change(function () {
                HideAnchortag();
            });
            $("#ddlFileType").change(function () {
                HideAnchortag();
            });

            //$("#ddlFacility").on("change", HideAnchortag());
            //$("#ddlStatus").on("change", HideAnchortag());
            //$("#ddlFileType").on("change", HideAnchortag());
            fillOrganizations();
            $("#ddlFacility").append("<option value=\"0\"> All </option>")
        });

        function fillOrganizations() {

            $(function () {
                $.ajax({
                    url: '@Url.Action("GetAllOrganizations", "UsersExport")',
                    type: "Get",
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    cache: false,
                    success: function (organizations) {
                        var options = "<option value=\"0\"> All </option>";
                        for (var i = 0; i < organizations.length; i++) {
                            var name = organizations[i].Name;
                            options += "<option value=\"" + organizations[i].OrganisationId + "\">" + name + "</option>";
                        }
                        $("#ddlOrganization").append(options);
                        $("#ddlOrganization").val("0");
                    }
                })


            });
        }

        $("#ddlOrganization").change(function () {
            HideAnchortag();
            var orgselection = $("#ddlOrganization").val();
            $.ajax({
                url: '@Url.Action("GetMatchingFacilityMasters", "UsersExport")',
                type: "Get",
                data: { selectedOrg: '' + orgselection + '' },
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (facilities) {
                    var options1 = "<option value=\"0\"> All </option>";
                    for (var i = 0; i < facilities.length; i++) {
                        var name = facilities[i].FacilityMasterName;
                        options1 += "<option value=\"" + facilities[i].FacilityMasterId + "\">" + name + "</option>";
                    }
                    $("#ddlFacility").empty().append(options1);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                }
            });
        });

        $("#btnExport").click(function () {

            $.showLoading({
                name: 'circle-fade'
            });

            var org = $("#ddlOrganization").val();
            var facility = $("#ddlFacility").val();
            var status = $("#ddlStatus").val();
            var type = $("#ddlFileType").val();

            $.ajax({
                url: '@Url.Action("GenerateReport", "UsersExport")',
                type: "Get",
                data: { selectedOrg: '' + org + '', selectedFacility: '' + facility + '', selectedstatus: '' + status + '', selectedtype: '' + type + '' },
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                cache: false,
                success: function(result) {
                    window.location = "../DownloadHandler.ashx?fileName=" + result;
                    callnotify("File Is Downloaded Successfully", 3);
                    $.hideLoading();
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                }
            });
        });

        function HideAnchortag() {
            $("#fileDownload").empty();
        }

        var notes;

        function callnotify(message, type) {
            var msgtype = "success";
            switch (type) {
            case 1:
                msgtype = "success";
                break;
            case 2:
                msgtype = "info";
                break;
            case 3:
                msgtype = "warning";
                break;
            case 4:
                msgtype = "danger";
                break;
            default:
                msgtype = "success";
                break;
            }

            notes.show(message, {
                // 'success', 'info', 'warning', 'danger'
                type: '' + msgtype + ''
            });
        }


        $("#btnCancel").click(function() {

            $("#ddlOrganization").empty().append(fillOrganizations());
            $("#ddlFacility").empty().append("<option value=\"0\"> All </option>");
            $("#ddlStatus").val("0");
            $("#ddlFileType").val("0");
            HideAnchortag();

        });
      
    </script>
}