@{
    ViewBag.Title = "GroupExportList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container">
    <center>
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div id="notes" class="col-md-2"></div>
                    </div>
                    <div class="portlet box blue" style="width:600px;height:600px;">
                        <div class="row" id="EditRow">
                            <div class="col-md-12">

                                <div class="panel panel-default">
                                    <div class="panel-heading" style="text-align:left;">
                                        <a href="#">Manage Group</a> &gt; Group Export
                                    </div>

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="content">

                                                <form class="login-form" id="GroupExportForm" method="post">
                                                    <div class="col-md-12">

                                                        <div class="row">
                                                            <div class="col-md-12">

                                                                <div class="form-group">
                                                                    <label class="control-label visible-ie8 visible-ie9 col-md-2">Group </label>
                                                                    <a href="#" data-toggle="tooltip" title="Select Organization" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                    <div class="input-icon">
                                                                        <select class="form-control" id="ddlGroup" name="Organization"></select>
                                                                    </div>
                                                                </div>



                                                                <div class="form-group">
                                                                    <label class="control-label visible-ie8 visible-ie9 col-md-2">FileType</label>
                                                                    <a href="#" data-toggle="tooltip" title="Select File Type" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                    <div class="input-icon">
                                                                        <select class="form-control" id="ddlFileType" name="FileType">
                                                                            <option value="0">Excel</option>
                                                                            <option value="1">Pdf</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="control-label visible-ie8 visible-ie9 col-md-2">Status </label>
                                                                    <a href="#" data-toggle="tooltip" title="Select Status" tabindex="-1" style="float:right"><i class="fa fa-question-circle fa-lg"></i></a>
                                                                    <div class="input-icon">
                                                                        <select class="form-control" id="ddlStatus" name="Organization">
                                                                            <option value="0">All</option>
                                                                            <option value="1">Active</option>
                                                                            <option value="2">InActive</option>

                                                                        </select>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="anchor" style="padding-left:20px" id="anchor_Holder">
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12 input-icon text-right">
                                                                <button type="button" id="btnExport" class="btn btn-primary">Export</button>
                                                                <button type="button" id="btnCancel" class="btn btn-default" style="margin-right: 5px;">Cancel</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>
@section Bottom{
    <script type="text/javascript">


    $(document).ready(function () {
        fillGroups();
    });

    function fillGroups() {
        $(function () {
            $.ajax({
                url: '@Url.Action("GetAllChatGroups", "ChatGroup")',
                    type: "Get",
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    cache: false,
                    success: function (groups) {
                        var options = "<option value=\"0\"> All </option>";
                        for (var i = 0; i < groups.length; i++) {
                            var name = groups[i].GroupName;
                            options += "<option value=\"" + groups[i].GroupId + "\">" + name + "</option>";
                        }
                        $("#ddlGroup").append(options);
                        $("#ddlGroup").val("0");
                    }
                })


            });
        }

        $("#btnExport").click(function () {
            $.showLoading({
                name: 'circle-fade'
            });


            var group = $("#ddlGroup").val();
            var type = $("#ddlFileType").val();
            var status = $("#ddlStatus").val();
            $.ajax({
                    url: '@Url.Action("GenerateReport", "ChatGroup")',
                    type: "Get",
                    contentType: "application/json; charset=utf-8",
                    data: { selectedGroup: '' + group + '', selectedtype: '' + type + '', selectedstatus: '' + status + '' },
                    datatype: "json",
                    cache: false,
                    success: function (result) {
                        window.location = "../DownloadHandler.ashx?fileName=" + result;
                        callnotify("File Is Downloaded Successfully", 3);
                        $.hideLoading();
                      //  $("#anchor_Holder").empty().append("<a id=\"fileDownload\" target=\"_blank\" href=\"" + "../DownloadHandler.ashx?fileName=" + result + "\"> Click Here!</a>");
                      ////  $("#anchor_Holder").empty().append("<a id=\"fileDownload\" target=\"_blank\" href=\"" + result + "\"> Click Here!</a>");
                      //  $("#fileDownload").on("click", function () {
                      //      HideAnchortag();
                      //      callnotify("File Is Downloaded Successfully", 3);
                      //  });
                    }
                })

        });



        function HideAnchortag() {
            $("#fileDownload").empty();
        }

        var notes;

        function callnotify(message, type) {
            var msgtype = "success";
            switch (type) {
                case 1:
                    msgtype = "success";
                    break;
                case 2:
                    msgtype = "info";
                    break;
                case 3:
                    msgtype = "warning";
                    break;
                case 4:
                    msgtype = "danger";
                    break;
                default:
                    msgtype = "success";
                    break;
            }

            notes.show(message, {
                // 'success', 'info', 'warning', 'danger'
                type: '' + msgtype + ''
            });
        }

        $("#btnCancel").click(function () {

            $("#ddlGroup").empty().append(fillGroups());
            $("#ddlStatus").val("0");
            $("#ddlFileType").val("0");
            HideAnchortag();

        });
       
        </script>
        }